<div class='loader-grid'>
  <div class='loader-grid_article placeholder-gray'>
    <img src='{{ 'placeholder.png' | asset_url }}' class='featured-img' width='600' height='600' loading='lazy'>
  </div>
  <div class='loader-grid_article placeholder-gray'>
    <img src='{{ 'placeholder.png' | asset_url }}' class='featured-img' width='600' height='600' loading='lazy'>
  </div>
  <div class='loader-grid_article placeholder-gray'>
    <img src='{{ 'placeholder.png' | asset_url }}' class='featured-img' width='600' height='600' loading='lazy'>
  </div>
  <div class='loader-grid_article placeholder-gray'>
    <img src='{{ 'placeholder.png' | asset_url }}' class='featured-img' width='600' height='600' loading='lazy'>
  </div>
  <div class='loader-grid_article placeholder-gray'>
    <img src='{{ 'placeholder.png' | asset_url }}' class='featured-img' width='600' height='600' loading='lazy'>
  </div>
  <div class='loader-grid_article placeholder-gray'>
    <img src='{{ 'placeholder.png' | asset_url }}' class='featured-img' width='600' height='600' loading='lazy'>
  </div>
</div>
