<div class="device-results">
  <div class="device-results_wrapper">
    <div class="device-results_nav">
      <button class="device-results_nav-close" @click="hideDeviceFilterState">
        {%- render 'icon-close' -%}
        <span class="visually-hidden">{{ 'collection.device_filter.close' | t }}</span>
      </button>
    </div>
    <div class="device-results_scroll">
      <h1 class="headline-1">{{ 'collection.device_filter.title' | t }}</h1>
      <div class="device-results_title">{{ 'collection.device_filter.sort_by' | t }}</div>
      <div class="drag-handle">
        <div class="device-results_radio" role="group">
          <template v-for="(sortby, index) in results.data.sortby" :key="index">
            <button v-if="sortby.value == results.sort.selected" @click="sortProductsBySelectedOption(sortby.name, sortby.value)" class="device-radio_link" role="menuitemradio">
              <div class="pseudo-radio checked"></div>${ sortby.name }
            </button>
            <button v-else @click="sortProductsBySelectedOption(sortby.name, sortby.value)" class="device-radio_link" role="menuitemradio">
              <div class="pseudo-radio"></div>${ sortby.name }
            </button>
          </template>
        </div>
        <template v-for="filter in filters" :key="filter.index">
          <template v-if="filter.type == 'price_range'">
            <div class="device-results_list">
              <div class="device-results_title" tabindex="0">
                  Shop by ${ filter.label } <span v-if="result.price_state == 'on'">(1)</span>
              </div>
            </div>
            <div class="desktop-results_items" :class="filter.label" role="group">
              <template v-for="(value, index) in result.price_ranges" :key="value.filter_id">
                <div v-if="result.price_state == 'off'" class="desktop-results_item" :class="{'disabled': (result.price_max_range - 1) < value.filter_value_min }" @click="filterProductsBySelectedPrice('filter.v.price.gte', value.filter_value_min, 'filter.v.price.lte', value.filter_value_max)">
                  <button class="desktop-results_item-btn" role="menuitemcheckbox" type="button">
                    <div class="pseudo-checkbox">
                      <div class="icon-checkmark"></div>
                    </div>
                    <span v-if="index != result.price_ranges.length - 1" class="desktop-results_item-label">${ value.money_value_min } - ${ value.money_value_max }</span>
                    <span v-else class="desktop-results_item-label">Over ${ value.money_value_min }</span>
                  </button>
                </div>
                <div v-if="result.price_state == 'on'" class="desktop-results_item" :class="{ 'disabled': result.price_max_range != value.filter_value_max }" @click="filterProductsBySelectedPrice('filter.v.price.gte', value.filter_value_min, 'filter.v.price.lte', value.filter_value_max)">
                  <button class="desktop-results_item-btn" role="menuitemcheckbox" type="button">
                    <div class="pseudo-checkbox" :class="{ 'selected': result.price_max_range == value.filter_value_max }">
                      <div class="icon-checkmark" :class="{ 'active': result.price_max_range == value.filter_value_max }"></div>
                    </div>
                    <span v-if="index != result.price_ranges.length - 1" class="desktop-results_item-label">${ value.money_value_min } - ${ value.money_value_max }</span>
                    <span v-else class="desktop-results_item-label">Over ${ value.money_value_min }</span>
                  </button>
                </div>
              </template>
            </div>
          </template>
          <template v-if="filter.type == 'list'">
            <div class="device-results_list">
              <div class="device-results_title" tabindex="0">
                ${ filter.label } <span v-if="filter.size > 0">(${ filter.size })</span> 
              </div>
              <div class="device-results_items" :class="filter.label" role="group">
                <template v-for="value in filter.values" :key="value.filter_id">
                  <template v-if="filter.label == 'Color'">
                    <div class="device-results_item-swatch" :class="[value.filter_label, {'disabled': value.filter_count == 0 }]" @click="filterProductsBySelectedOption(value.filter_param, value.filter_value)">
                      <div class="item-swatch_color" :class="value.filter_label">
                        <div class="swatch-checkmark" :class="{ 'active': value.filter_active == 'true' }"></div>
                      </div>
                      <div class="item-swatch_label" :class="{ 'active': value.filter_active == 'true' }">${ value.filter_label }</div>
                    </div>
                  </template>
                  <template v-else-if="filter.label == 'Size'">
                    <button class="device-results_size-btn" :class="[{ 'active': value.filter_active == 'true' }, {'disabled': value.filter_count == 0 }]" @click="filterProductsBySelectedOption(value.filter_param, value.filter_value)" role="menuitemcheckbox" type="button">
                      <span class="device-results_size-label">${ value.filter_label }</span>
                    </button>
                  </template>
                  <template v-else>
                    <div class="device-results_item-filter" @click="filterProductsBySelectedOption(value.filter_param, value.filter_value)">
                      <button class="item-filter_btn" :class="{'disabled': value.filter_count == 0 }" role="menuitemcheckbox" type="button">
                        <div class="pseudo-checkbox" :class="{ 'selected': value.filter_active == 'true' }">
                          <div class="icon-checkmark" :class="{ 'active': value.filter_active == 'true' }"></div>
                        </div>
                        <span class="item-filter_label" :class="{ 'active': value.filter_active == 'true' }">${ value.filter_label }</span>
                      </button>
                    </div>
                  </template>
                </template>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
  <div class="device-results_subnav" :class="{ 'is-showing': activeFiltersAmount > 0 }">
    <button class="button large-btn inverted-btn" type="button" @click="filterProductsBySelectedOption('reset')">{{ 'collection.device_filter.clear' | t }} (${ activeFiltersAmount })</button>
    <button class="button large-btn" type="button" @click="hideDeviceFilterState">{{ 'collection.device_filter.apply' | t }}</button>
  </div>
</div>
