{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

<div class="featured-collection_wrapper page-width">
  <div class="swiper featured-collection-swiper">
    <div class ="featured-collection_header">
      <h2 class="headline-2{% if section.settings.title == blank %} no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
      <nav class="featured-collection_nav">
        {%- if section.settings.featured_all -%}
          <a href="{{ section.settings.featured_link }}" class="link--text" >{{ section.settings.featured_view }}</a>
        {% endif %}
        <button class="carousel-btn prev-btn" aria-hidden="true" tabindex="-1">
          {%- render 'icon-prev-btn' -%}
          <span class="visually-hidden">{{ 'general.carousel.prev' | t }}</span>
        </button>
        <button class="carousel-btn next-btn" aria-hidden="true" tabindex="-1">
          {%- render 'icon-next-btn' -%}
          <span class="visually-hidden">{{ 'general.carousel.next' | t }}</span>
        </button>
      </nav>
    </div>
    <div class="featured-collection swiper-wrapper">
      {%- for product in collections[section.settings.featured_collection].products limit: section.settings.featured_products_to_show -%}
        {% render 'featured-collection-card', card_product: product, card_vendor: section.settings.show_vendor %}
      {%- else -%}
        {%- for i in (1..3) -%}
          {% render 'featured-collection-card-placeholder', card_count: i %}
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% javascript %}
  const target = document.querySelector('.featured-collection_wrapper')
  const options = { rootMargin: '100px 0px 100px 0px' }

  const handleIntersection = (entries) => {
    if (entries[0].isIntersecting) {
      handleFeaturedCollectionSwiper()
      observer.unobserve(entries[0].target)
    }
  }
  const observer = new IntersectionObserver(handleIntersection, options)
  observer.observe(target)

  const handleFeaturedCollectionSwiper = () => {
    const featuredCollectionSwiper = new Swiper(".featured-collection-swiper", {
      slidesPerView: 1,
      spaceBetween: 15,
      loop: false,
      navigation: {
        nextEl: ".next-btn",
        prevEl: ".prev-btn",
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 15,
        },
        990: {
          slidesPerView: 3,
          spaceBetween: 15,
        }
      },
      on: {
        afterInit: (swiper) => {
          const targets = document.querySelector('.featured-collection')
          targets.style.opacity = "1";
        }
      }
    })
  }
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "featured_products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.link.title"
    },
    {
      "type": "text",
      "id": "featured_view",
      "default": "View All",
      "label": "t:sections.featured-collection.settings.view.label"
    },
    {
      "type": "url",
      "id": "featured_link",
      "label": "t:sections.featured-collection.settings.link.label"
    },
    {
      "type": "checkbox",
      "id": "featured_all",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}