{{ 'component-image-banner.css' | asset_url | stylesheet_tag }}

<div class="image-banner_wrapper page-width">
  <div class="image-banner_content">
    <figure class="placeholder-gray">
      {%- if section.settings.image_mobile != blank and section.settings.image_desktop != blank -%}
        <picture>
          <source media="(min-width: 641px)"
                  srcset="
                  {%- if section.settings.image_desktop.width >= 750 -%}{{ section.settings.image_desktop | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if section.settings.image_desktop.width >= 1100 -%}{{ section.settings.image_desktop | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if section.settings.image_desktop.width >= 1500 -%}{{ section.settings.image_desktop | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if section.settings.image_desktop.width >= 1780 -%}{{ section.settings.image_desktop | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if section.settings.image_desktop.width >= 1920 -%}{{ section.settings.image_desktop | image_url: width: 1920 }} 1920w,{%- endif -%}
                  {%- if section.settings.image_desktop.width >= 2380 -%}{{ section.settings.image_desktop | image_url: width: 2380 }} 2380w{%- endif -%}"
          >
          <source srcset="{{ section.settings.image_mobile | image_url: width: 732 }}">
          <img
            src="{{ section.settings.image_desktop | image_url: width: 1920 }}"
            class="featured-img"
            alt="{{ section.settings.image_desktop.alt | escape }}"
            width="{{ section.settings.image_desktop.width }}"
            height="{{ section.settings.image_desktop.height }}"
            loading="lazy"
          />
        </picture>
      {%- else -%}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'featured-img' }}
      {%- endif -%}
    </figure>
    <figcaption>
      <div class="image-banner_caption">
        {%- if section.settings.heading != blank -%}
          <h4 class="image-banner_caption-headline">{{ section.settings.heading }}</h4>
        {%- endif -%}
          {%- if section.settings.sub_heading != blank -%}
          <p class="image-banner_caption-message">{{ section.settings.sub_heading | escape }}</p>
        {%- endif -%}
      </div>
    </figcaption>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "image-banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.image-banner.settings.heading.title.label"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "t:sections.image-banner.settings.heading.subtitle.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.image-banner.settings.image_2.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name"
    }
  ]
}
{% endschema %}