{{ 'section-main-contact.css' | asset_url | stylesheet_tag }}
{{ 'section-header-help.css' | asset_url | stylesheet_tag }}

<div class='main-contact'>
  <div class='main-contact_wrapper page-width'>
    {% render 'header-help', title: page.title, active: 'contact' %}
  </div>
  <div class='main-contact_content page-width'>
    <div class='main-contact_desc'>
      <h2 class='headline-2'>{{ 'templates.contact.help.headline' | t }}</h2>
      <p>{{ 'templates.contact.help.description' | t }}</p>
      <p>
        {{
          'templates.contact.help.description_text_a_html'
          | t: url: routes.root_url, faqs: 'pages/faqs', terms: 'pages/terms-of-service'
        }}
      </p>
      <p>{{ 'templates.contact.help.description_text_b_html' | t: email: 'info@binspired.com' }}</p>
    </div>
    <div class='main-contact_body'>
      <div class='main-contact_fields'>
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <div class='success-section'>{{ 'templates.contact.form.post_success' | t }}</div>
          {%- elsif form.errors -%}
            <div class='error-section'>
              {{ 'templates.contact.form.error_heading' | t }}
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </div>
          {%- endif -%}
          <div class='field'>
            <input
              autocomplete='name'
              type='text'
              id='ContactForm-name'
              name='contact[{{ 'templates.contact.form.name' | t }}]'
              value='{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}'
              placeholder='{{ 'templates.contact.form.name' | t }}'
            >
            <label for='ContactForm-name'>{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class='field field--with-error'>
            <input
              autocomplete='email'
              type='email'
              id='ContactForm-email'
              {%- if form.errors contains 'form' -%}
                class='field-error'
              {%- endif -%}
              name='contact[email]'
              spellcheck='false'
              autocapitalize='off'
              value='{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}'
              aria-required='true'
              {% if form.errors contains 'email' %}
                aria-invalid='true'
                aria-describedby='ContactForm-email-error'
              {% endif %}
              placeholder='{{ 'templates.contact.form.email' | t }}'
            >
            <label class='field__label' for='ContactForm-email'>
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden='true'>*</span></label
            >
          </div>
          <div class='field'>
            <input
              autocomplete='name'
              type='text'
              id='ContactForm-Order'
              name='contact[{{ 'templates.contact.form.order' | t }}]'
              value=''
              placeholder='{{ 'templates.contact.form.order' | t }}'
            >
            <label for='ContactForm-Order'>{{ 'templates.contact.form.order' | t }}</label>
          </div>
          <div class='field'>
            <select
              id='ContactForm-subject'
              name='contact[{{ 'templates.contact.form.subject' | t }}]'
              class='field-select'
            >
              <option value='Other'>{{ 'templates.contact.form.subjects.title' | t }}</option>
              <option value='Urgent: Change wrong address for order'>
                {{ 'templates.contact.form.subjects.urgent' | t }}
              </option>
              <option value='Question about my order/delivery'>
                {{ 'templates.contact.form.subjects.question' | t }}
              </option>
              <option value='Product Questions'>{{ 'templates.contact.form.subjects.product' | t }}</option>
              <option value='Wholesale/discount/promo code query'>
                {{ 'templates.contact.form.subjects.wholesale' | t }}
              </option>
              <option value='Press contact &amp; media'>{{ 'templates.contact.form.subjects.press' | t }}</option>
            </select>
            <span class='select-arrow'>
              <svg
                aria-hidden='true'
                focusable='false'
                viewBox='0 0 24 24'
                role='img'
                width='24px'
                height='24px'
                fill='none'
              >
                <path stroke="currentColor" stroke-width="1.5" d="M18.966 8.476L12 15.443 5.033 8.476"></path>
              </svg>
            </span>
            <label for='ContactForm-subject'>{{ 'templates.contact.form.subjects.title' | t }}</label>
          </div>
          <div class='field text-area'>
            <textarea
              rows='10'
              id='ContactForm-body'
              class=''
              name='contact[{{ 'templates.contact.form.comment' | t }}]'
              placeholder='{{ 'templates.contact.form.comment' | t }}'
            >
              {{- form.body -}}
            </textarea>
            <label class='form__label field__label' for='ContactForm-body'>
              {{- 'templates.contact.form.comment' | t -}}
            </label>
          </div>
          <div class='contact-agree'>
            {{
              'templates.contact.agree.terms_html'
              | t: url: routes.root_url, terms: 'policies/terms-of-service', privacy: 'policies/privacy-policy'
            }}
          </div>
          <div class='contact-send'>
            <button type='submit' class='button'>
              {{ 'templates.contact.form.send' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.contact.label"
}
{% endschema %}
